body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #305959;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  border-radius: 60px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0
}

header nav li {
  margin: 0 16px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 32px;
}

.filmoverzicht {
  text-align: center;
  overflow:scroll;
  max-height: 500px;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

table th, table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;

}

table th {
  background-color: #333;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

table td {
  padding: 20px; /* Add more space between films */
}

.edit-btn, .delete-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover, .delete-btn:hover {
  background-color: #555;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #305959;
}

.login {
  background-color: #333;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 249, 249, 0.1);
  text-align: center;
}

.login h1 {
  margin-bottom: 24px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 8px;
  text-align: left;
}

.login input {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login button {
  background-color: #070606;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
}

.login button:hover {
  background-color: #fffefe;
}

footer {
  background-color: #305959;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.loginletter{
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: #305959;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

